#table {
    width: 100%;
}

#table th {
    background-color: #4CAF50;
    color: white;
    padding: 15px 0;
    font-size: 20px;
}

#table td {
    padding: 8px;
    text-align: center;
}

#table tr:nth-child(even) {
    background: #CCC;
}

#table tr:nth-child(odd) {
    background: #FFF;
}

